<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="index.php?method=doedit" method="POST">
        <p>
        <label for="title">标题</label>
        <input name="title" type="text" value="{{article.title}}">
        </p>
        <p>
        <label for="content">内容</label>
        <textarea name="content">{{article.content}}</textarea>
        </p>
        <input type="hidden" name="id" value="{{article.id}}"/>
        <button type='submit'>提交</button>
    </form>
</body>
</html>